.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.border{
    width:45%;
    border:1px solid;
    border-radius:25px;
}

.container{
    width: 100%
}

h1{
   font-size: 200%;
   font-weight:bold;
}

h3{
    font-size:160%;
    font-weight:bold;
}

h4{
    font-size:150%;
    font-weight:bold;
}