.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width:60%;
}

.blog_style {
    margin-top: 5rem;
}

.index_article_style {
    font-family: STFangsong,Fangsong,FangSong_GB2312,STSong,serif;
    font-size: 15px;
    text-align: justify;
    white-space: pre-wrap;
    line-height: 1.5;
    color:black;
}

.index_title_style{
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125; 
}

.pagination{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.media_style_left{
    width:30%;
    height: 100%;
}

#pagination{
    margin-top:2rem;
}

.card_box{
   height:0%;
}

@media (max-width:768px){
    .index_title_style{
        color: #363636;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.125; 
    }

    .index_article_style {
        font-family: STFangsong,Fangsong,FangSong_GB2312,STSong,serif;
        font-size: 13px;
        text-align: justify;
        white-space: pre-wrap;
        line-height: 1.5;
        color:black;
    }

    .container {
        width:100%;
        margin: 0 0 0 0
    }

    .section{
        padding: 0 0 0 0 
    }
}