.center{
    display: flex;
    align-items: center;
    justify-content: center
}

.title_position{
    margin-top: 20%;
}

.footer{
    max-height:100px;
}

.content{
    margin-top: -1rem;
}

@media (max-width:768px) {
    .layout_title_style{
        font-size: 1rem;
    }
}